<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h2>Clients:</h2>

    <table>
      <tr>
        <th>Id</th>
        <th>E-mail</th>
      </tr>
      {% for client in clients %}
      <tr>
        <td>{{ client.id }}</td>
        <td>{{ client.email }}</td>
      </tr>
      {% endfor %}
    </table>

    <h2>Documents:</h2>

    <table>
      <tr>
        <th>Id</th>
        <th>Client</th>
        <th>Status</th>
      </tr>
      {% for doc in documents %}
      <tr>
        <td>{{ doc.id }}</td>
        <td>{{ doc.client }}</td>
        <td>{{ doc.status }}</td>
      </tr>
      {% endfor %}
    </table>

    <form action="client/add" method="GET">
      <button type="submit">Add client</button>
    </form>
    <form action="request/send" method="GET">
      <button type="submit">Send request</button>
    </form>
  </body>
</html>
